<div id="PageForm">
	<%= form_for([:admin, @page], :url => { :action => 'update' }) do |f| %>
		<%= render :partial => 'form', :locals => { :f => f } %>
	<% end %>
</div>

<div id="ResourcePreview">
	<h2>Preview</h2>
	
	<div id="ResourcePreview_Body"></div>
</div>


<script type="text/javascript" charset="utf-8">
	$(function() {
		resource_form = $('#edit_page_<%= @page.id %>');
		resource_body_element = $('#page_body');
		
		<% if @autosave_url %>
			auto_save_url = '<%= @autosave_url %>';
		<% end %>
	});
</script>
