// This is for your public custom CSS. Feel free to @import other files from here as well.

@import 'jscott_colors';

html {
	background: $grey image-url('_custom/bg-hex-30.png');
	color: $dark_brown;
}

aside[role=nav] {
	nav {
		li {
			font: normal normal 18px/19px $pt_sans_narrow;
		}
	}
	
	nav[role=meta-dynamic] {
		border-color: $green;
	}
}

body > footer {
	p {
		font: normal normal 12px $museo_slab;
	}
}

aside[role=supplemental] {
  div[role=container] {
    padding: 1em;
    
    background-color: darken($grey, 8%);
  }
  
  h3 {
    margin: 0;
  }
}

article {
	header {
		h1 {
			font: normal normal 36px/40px $pt_sans_narrow;
		}
	}
	
	p {
		font: normal 300 17px/24px $museo_slab;
	}
	
	ul {
		li {
			font: normal 300 15px/20px $museo_slab;
		}
	}
	
	figure.quote {
		border-color: $green;
		
		blockquote:before {
			font: italic 500%/1 $museo_slab;
			color: #999;
		}
		
		figcaption {
			font: normal 300 115%/1 $museo_slab;
		}
	}
	
	figure.image, figure.code {
		figcaption {
			border-color: $green;
			
			font: normal normal 110%/1.2 $pt_sans_narrow;
		}

		a {
			color: $dark_brown;
		}
	}
	
	footer {
		border-color: $green;
		
		time {
			font: normal 500 75%/1 $museo_slab;
		}
	}
}


@media screen and (max-width: 600px) {
  aside[role=nav] {
    border-bottom: 2px solid $green;
    
    overflow: auto;
    
    nav {
      margin-bottom: 0;
    }
  }
  
  nav[role=home] {
    float: left;
    width: 40px;
  }
  
  nav[role=meta] {
    padding-left: 50px;
    
    li {
      display: inline;
    }
  }
  
	nav[role=meta-dynamic], nav[role=archives] {
    display: none;
	}
}
