# Uncomment next 3 lines and configure version if you are using RVM on your server:
#$:.unshift(File.expand_path('./lib', ENV['rvm_path'])) # Add RVM's lib directory to the load path.
#require "rvm/capistrano"                  # Load RVM's capistrano plugin.
#set :rvm_ruby_string, '1.9.3' 

require "bundler/capistrano"

set :application, "newton" # You should probably change this to something more meaningful to you, but you don't have to.
set :repository,  "git@github.com:scotje/newton.git" # This should point at your forked repo.

set :scm, :git
set :git_enable_submodules, 1
set :branch, "master" # Change this if you have a different branch for deployment in your repo.
set :deploy_via, :remote_cache # You can change this if you prefer something else.

# You should change these to appropriate values for your server.
set :user, "admin"
set :use_sudo, false
set :deploy_to, "/home/apps/#{application}"


role :web, "server.example.com"
role :app, "server.example.com"
role :db,  "server.example.com", :primary => true

after "deploy:update_code", :symlink_db
after "deploy:restart", "deploy:cleanup"


task :symlink_db do
  run "#{try_sudo} /bin/ln -s #{shared_path}/production.sqlite3 #{release_path}/db/production.sqlite3"
end

namespace :deploy do
  task :start do ; end
  task :stop do ; end
  task :restart, :roles => :app, :except => { :no_release => true } do
    run "#{try_sudo} touch #{File.join(current_path,'tmp','restart.txt')}" # This works for Passenger powered deploys, you'll need to change this if you use a different stack.
  end
end
