<div id="PostForm">
	<%= form_for([:admin, @post], :url => { :action => 'create', :draft => true }) do |f| %>
		<%= render :partial => 'form', :locals => { :f => f } %>
	<% end %>
</div>

<div id="ResourcePreview">
	<h2>Preview</h2>
	
	<div id="ResourcePreview_Body"></div>
</div>

<script type="text/javascript" charset="utf-8">
	$(function() {
		resource_form = $('#new_post');
		resource_body_element = $('#post_body');
	});
</script>