$public_heading_font: "Helvetica", sans-serif;
$public_body_font: "Georgia", serif;
$admin_font: "Helvetica", sans-serif;

a {
	color: #00f;
	text-decoration: none;
}
		
a:hover {
	text-decoration: underline;
}